{{ 'bs.min.css' | asset_url | stylesheet_tag }}

<div>
  <div class="">
    <h1 class="tw-font-bold">STORY</h1>
    <p>クリエイターとQUILTO</p>
  </div>
  <div></div>
</div>

{% schema %}
{
  "name": "記事一覧",
  "class": "page-width",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "記事一覧"
    }
  ]
}
{% endschema %}
