<div class="tw-mx-20">
  <h1>hello</h1>
  <h2>hello</h2>
  <h3>hello</h3>
  <h4>hello</h4>
  <h5>hello</h5>
  <h6>hello</h6>
  <p>hello</p>

  <p class="tw-text-sm">The quick brown fox ...</p>
  <p class="tw-text-base">The quick brown fox ...</p>
  <p class="tw-text-lg">The quick brown fox ...</p>
  <p class="tw-text-xl ">The quick brown fox ...</p>
  <p class="tw-text-2xl">The quick brown fox ...</p>
  <p class="tw-text-3xl">The quick brown fox ...</p>
  <p class="tw-text-4xl">The quick brown fox ...</p>
  <p class="tw-text-5xl">The quick brown fox ...</p>
  <p class="tw-text-6xl">The quick brown fox ...</p>
  <p class="tw-text-7xl">The quick brown fox ...</p>
  <p class="tw-text-8xl">The quick brown fox ...</p>
  <p class="tw-text-9xl">The quick brown fox ...</p>
</div>

{% schema %}
{
  "name": "tailwindテスト",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "テストセクション"
    }
  ]
}
{% endschema %}
