.tw-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.tw-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.tw-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.tw-mt-4 {
  margin-top: 1rem
}

.tw-mt-1 {
  margin-top: 0.25rem
}

.tw-mt-2 {
  margin-top: 0.5rem
}

.tw-mt-0 {
  margin-top: 0px
}

.tw-h-full {
  height: 100%
}

.tw-w-full {
  width: 100%
}

.tw-columns-sm {
  -moz-columns: 24rem;
       columns: 24rem
}

.tw-columns-md {
  -moz-columns: 28rem;
       columns: 28rem
}

.tw-break-inside-avoid-column {
  -moz-column-break-inside: avoid;
       break-inside: avoid-column
}

.tw-gap-y-5 {
  row-gap: 1.25rem
}

.tw-gap-x-5 {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem
}

.tw-overflow-hidden {
  overflow: hidden
}

.tw-rounded-lg {
  border-radius: 0.5rem
}

.tw-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.tw-bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.tw-object-cover {
  -o-object-fit: cover;
     object-fit: cover
}

.tw-object-center {
  -o-object-position: center;
     object-position: center
}

.tw-text-center {
  text-align: center
}

.tw-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.tw-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.tw-text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.tw-text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.tw-font-medium {
  font-weight: 500
}

.tw-font-bold {
  font-weight: 700
}

.tw-text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.tw-text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.tw-group:hover .group-hover\:tw-opacity-75 {
  opacity: 0.75
}
